.filter-product-list{
    display:flex;

}

.product-grid{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    
}

.sort{
    display: flex;
    justify-content: flex-start;
    align-items:center;
}

.products{
    padding:20px;
}