.nursery-image-container{
  display:flex;
  justify-content:space-around;
  overflow-x: auto;
  gap:20px;
  scrollbar-width: none;
}

.nursery-images{
  display:flex;
  flex-direction: column;
  justify-content: center;
  
}

.image{

  height: 120px;
  
}

h3{
  text-align: left;
}
