.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.nav-upper{
  display: flex;
  flex-direction: row;
  background-color: #165315;
  height:33px;
  justify-content: space-around;
  color:#ffffff;
  width:100%
 
}
.free{
  align-self: center;
  padding-left:35% ;
}

.number{ 
  align-self: center;
}


